@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;400;600&display=swap');

* {
   box-sizing: border-box;
   font-family: 'Inter', sans-serif;
   font-size: 16px;
   padding: 0;
   margin: 0;
}

a {
   color: inherit;
   text-decoration: none;
}

i {
   display: inline-block;
   margin-right: 0.4em;
}

html {
   scroll-behavior: smooth
}

.navigation {
   position: fixed;
   background: transparent;
   height: 100%;
   width: 15em;
}

.bgred {
   background: #FF0060;
   color: white;
}

.navigation>div {
   height: 100%;
   display: flex;
   flex-direction: column;
   justify-content: space-between;
   outline: 1px solid rgb(240, 240, 240);
   box-shadow: 2px 2px 2px 0 rgb(250, 250, 250);
}

.navigation>div>div {
   background: white;
   padding: 0.5em;
}

.menus {
   display: flex;
   flex-direction: column;
   gap: 0.3em;

}

.menus>a {
   color: #777;
   transition: all 0.3s;
   display: inline-block;
   padding: 0.8em;
   border-radius: 0.6em;
}

.menus>a:hover {
   background: rgb(245, 245, 245);
}